{% extends "base.html" %}

{% block content %}

<head>
<style>
div.gallery {
   line-height:1;
   -webkit-column-count:2; /* split it into 5 columns */
   -webkit-column-gap:7px; /* give it a 5px gap between columns */
   -moz-column-count:2;
   -moz-column-gap:7px;
   column-count:2;
   column-gap:10px;
}

div.gallery img {
   width: 100% !important;
   height: auto !important;
   margin-bottom: 7px; /* to match column gap */
}

div.desc {
  padding: 15px;
  text-align: center;
}

</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="{{ url_for('static', filename='uploads/test_pic.png') }}">
    <img src="{{ url_for('static', filename='uploads/test_pic.png') }}" alt="Kitty_1">
  </a>
  <div class="desc">Оригинал </div>

   <a target="_blank" href="{{ url_for('static', filename='uploads/result_img.png') }}">
    <img src="{{ url_for('static', filename='uploads/result_img.png') }}" alt="Kitty_2">
  </a>
  <div class="desc">Результат работы детектора</div>
</div>


{% endblock %}